@import "@assets/styles/vars.scss";

.wrapper {
    user-select: none;
    z-index: 1;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    animation: sTransition 10s linear infinite;
    max-width: 750px;
    font-size: 44px;
    font-weight: 600;
    line-height: 50px;
    background: linear-gradient(to right,
            rgb(76, 217, 105),
            rgb(52, 170, 220),
            rgb(88, 86, 217),
            rgb(255, 45, 83),
            rgb(255, 45, 83),
            rgb(88, 86, 217),
            rgb(52, 170, 220),
            rgb(76, 217, 105));
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    color: transparent;
    opacity: 0.5;
    // text-shadow: -2px -2px 0px rgba(5, 5, 5, 0.5);
}

.text {
    margin-top: 22px;
    max-width: 706px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 22px;
    text-align: center;
    opacity: 0.8;
    text-shadow: -1px -1px 1px rgb(240, 240, 240, 0.6);
}

.inputInner {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    overflow: hidden;
    padding: 10px 0px 0px;
    background-color: rgba($--glow-worm, 0.05);
    border: 1px solid rgba($--glow-worm, 0.9);
    border-radius: 5px;

}

.input {
    background-color: transparent;
    border: none;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: rgba($--glow-worm, 0.9);
    text-shadow: 1px 1px 0px rgba(rgb(95, 202, 216), 0.3);
    resize: none;
    text-overflow: ellipsis;

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-size: 14px;
        letter-spacing: 3px;
        color: $--glow-worm;
        opacity: 0.22;
    }

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($--glow-worm, 0.3);
        border-radius: 10px;

        &:hover {
            background-color: rgba($--glow-worm, 0.8);
        }
    }
}


.mySelectInner {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
}


@keyframes sTransition {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}