.section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 260px;
    background-color: rgba(32,33,35);
    position: relative;
    z-index: 4;
}

.wrapper{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 7px 0;
    width: 240px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.buttonsInner{
    border-top: 1px solid rgba(255,255,255, 0.3);
}