.chatItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: rgba(42, 43, 50, 0.7);
    }
}

.chatItemActive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: pointer;
    background-color: #343541;
}

.textMessageInner {
    height: 43px;
    display: flex;
    align-items: center;
    width: 100%;

    svg {
        max-width: 14px;
        width: 100%;
        max-height: 14px;
        height: 100%;
    }

    .input {
        max-width: 150px;
        width: 100%;
        border: 1px solid rgba(#fff, 0.2);
        border-radius: 4px;
        margin-left: 10px;
        padding: 4px;
        background-color: inherit;

        &:focus {
            outline: none;
        }
    }

    .textMessage {
        padding-left: 10px;
        text-overflow: clip;
        background: white;
        -webkit-background-clip: text;
        color: transparent;
    }

    .textMessageActive {
        max-width: 160px;
        width: 100%;
    }

    .textMessageOverflow {
        padding-left: 10px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip;
        background: linear-gradient(to right, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0) 100%);
        -webkit-background-clip: text;
        color: transparent;
    }
}

.btnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    color: rgba(255, 255, 255, 0.7);
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
        width: 15px;
        height: 15px;

        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }
}

.textAnimation {
    animation: TextAnimation .3s;
    opacity: 0.8;
}

@keyframes TextAnimation {
    50%{
        color: #444654;
        background: #4a4a55;
        border-radius: 4px;
        opacity: 0.1;
        margin-left: 10px;
    }

    90%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        color: transparent;
        background: transparent;
    }

}