@import '@assets/styles/vars.scss';

.downloadBtn {
    position: relative;
    border: none;
    border-radius: 2.5em;
    width: 10em;
    height: 3.4em;
    cursor: pointer;
    transition: color 0.3s ease-in;
    margin-top: 1.875em;

    &:active {
        scale: 0.9;
    }

    .textListWrapper {
        overflow: hidden;
        height: 100%;
        position: relative;
    }
    
    .textList {
        transition: all 0.3s ease-out;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    
    .textItem {
        line-height: 3em;

        font-size: 1.18em;
    }
}



@media (max-width: 1050px) {
    .downloadBtn {
        font-size: 9px;
    }
}