.errorWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000000, .7);
    z-index: 10;
}

.error {
    color: red;
    font-size: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 30px 60px;
}