.myTextareaInner{
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myTextarea {
    position: relative;
    margin-bottom: 40px;
    min-width: 750px;
    width: 750px;
    background-color: #40414f;
    border-radius: 5px;
    padding: 14px 0px 14px 16px;
    position: relative;
    box-shadow: 0px 0px 7px rgba(#000, .3);
    z-index: 4;
    display: flex;
    align-items: center;
}

.textarea {
    resize: none;
    width: 100%;
    background-color: inherit;
    font-size: 1rem;
    line-height: 1.5rem;
    font-size: 16px;
    color: rgba(255, 255, 255, .9);
    border: none;
    padding-right: 30px;

    &:focus {
        outline: none;
    }

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #565869;
        border-radius: 10px;

        &:hover {
            background-color: rgba(243, 240, 240, 0.8);
        }
    }
}

.sendMessage {
    transform: rotate(90deg);
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    color: rgb(172, 172, 190);
    transition: all 0.3s;
    position: absolute;
    bottom: 8px;
    right: 10px;
    z-index: 2;
    height: 28px;

    svg {
        width: 15px;
        height: 15px;
        margin: 0px 0px -3px;
    }

    &:hover {
        background-color: #202123;
    }
}