@import '@assets/styles/vars.scss';

.wrapper{
    position: absolute;
    bottom: 3%;
    left: 2%;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    background-color: rgba($--glow-worm, 0.2);
    border-radius: 10px;
    opacity: 0.5;
    transition: all 0.2s;

    &:hover{
        opacity: 1;
        background-color: rgba($--glow-worm, 0.4);
        box-shadow: 1px 1px 10px 2px rgba($--glow-worm, 0.4);
    }
}