.header {
    max-width: 90em;
    background-color: rgba(rgb(45, 44, 49), 0.2);
    height: 3em;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0.1em 0.1em 0em rgba(rgb(0, 0, 0), 0.2), -0.1em -0.1em 0em rgba(rgb(80, 78, 78), 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;
        width: 10em;
        height: 100%;
    }

    &__image {
        position: absolute;
        left: -1.3em;
        top: -1.4em;
        width: 6em;
        height: 6em;
    }

    &__text {
        font-size: 20px;
        font-family: 'Roboto-Light';
        text-transform: uppercase;
        letter-spacing: 0.25em;
    }
}

.login_btn {
    padding: 0 2.5em;
    background-color: rgb(255, 255, 255);
    color: rgba(25, 22, 36, 0.788);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: none;
    margin-right: 1.5em;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 1.5em;



    &:hover {
        text-shadow: 0em 0em 0 #000;
        box-shadow: 0em 0em 0.1em rgba(rgb(0, 0, 0), 0.2), 0.1em 0.1em 0.2em rgba(rgb(0, 0, 0), 0.2);
        color: aliceblue;
        background-color: rgba(#fff, 0.02);
    }
}