.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    font-size: 18px;
    font-family: 'Roboto-Light';
    font-weight: 500;
}

.svg {
    margin-bottom: 26px;
}

.loading {
    animation: spinner 4s infinite;
}

.warning{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3{
        font-size: 24px;
        margin-bottom: 10px;
        color: red;
    }

    strong{
        color: red;
    }
}

@keyframes spinner {
    40%{
        scale: 1.3;
    }
    100% {
        scale: 1;
        transform: rotate(360deg);
    }
}
